.contact__container {
  position: relative;
  background-color: var(--first-color-darken);
  padding-top: 3.5rem;
  border-radius: 3rem;
  box-shadow: inset var(--shadow-card);
  overflow: hidden;
}
.contact__content {
  padding-top: 1rem;
  row-gap: 3rem;
}
.contact__data {
  text-align: center;
}
.contact__title {
  font: var(--font-regular) var(--h2-font-size) var(--second-font);
  margin-bottom: 0.5rem;
}
.contact__social {
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
}
.contact__social a {
  color: var(--second-color);
  font-size: 1.5rem;
}
.contact__info {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
.contact__img {
  width: 200px;
  justify-self: center;
  filter: var(--shadow-img);
}
.contact__shrimp,
.contact__crab,
.contact__meat {
  position: absolute;
  width: 40px;
  opacity: 0.5;
}
.contact__shrimp {
  top: 9rem;
  right: 1.5rem;
  rotate: 15deg;
}
.contact__crab {
  top: 17rem;
  left: 1rem;
  rotate: 15deg;
}
.contact__meat {
  right: 2rem;
  bottom: 11rem;
  rotate: -15rem;
}
@media screen and (min-width: 540px){
  .contact__shrimp {
    right: 5rem;
  }
  .contact__crab {
    left: 5rem;
  }
  .contact__meat {
    right: 5rem;
    bottom: 15rem;
  }
  
}
@media screen and (min-width: 768px){
  .contact__shrimp, .contact__crab, .contact__meat {
    width: 60px;
  }
  .contact__shrimp {
    right: 8rem;
  }
  .contact__crab {
    left: 8rem;
  }
  .contact__meat {
    right: 8rem;
  }
  .contact__img {
    width: 250px;
  }
}
@media screen and (min-width: 1150px){
  .contact {
    display: block;
  }
  .contact__container {
    border-radius: 4rem;
  }
  .contact__content {
    grid-template: 330px / 360px 320px;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10rem;
    padding-top: 2rem;
  }
  .contact__data {
    text-align: initial;
    grid-template: max-content / repeat(2, max-content);
    gap: 3rem 2rem;
  }
  .contact__title {
    margin-bottom: .8rem;
  }
  .contact__social {
    justify-content: initial;
  }
  .contact__img {
    width: 320px;
    transform: translateY(-5rem);
  }
  .contact__crab,
  .contact__shrimp,
  .contact__meat {
    width: 80px;
  }
  .contact__shrimp {
    top: 20rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .contact__crab {
    top: 4rem;
    left: 4rem;
  }
  .contact__meat {
    right: initial;
    left: 12rem;
    bottom: 1rem;
  }
}