.favorite__container {
  row-gap: 3rem;
  grid-template-columns: 100%;
  padding-bottom:  3rem;
}
.favorite__data {
  text-align: center;
  position: relative;
}
.favorite__cheese-1,
.favorite__cheese-2 {
  width: 40px;
  position: absolute;
  opacity: .5;
}
.favorite__cheese-1 {
  top: 2rem;
  right: 0rem;
  rotate: -15deg;
}
.favorite__cheese-2 {
bottom: -2rem;
left: -.5rem;
transform: scaleX(-1) rotate(45deg);
}


.favorite__article {
  position: relative;
  width: 200px;
}
.favorite__img {
  width: 200px;
  scale: .8;
  transition: scale .4s, filter .4s;
}
.favorite__leaf-1,
.favorite__leaf-2 {
  width: 70px;
  position: absolute;
  filter: var(--shadow-img);
  scale: 0;
  transition: scale .2s .1s;
}
.favorite__leaf-1 {
  top: -1rem;
  right: -.5rem;
}
.favorite__leaf-2 {
  bottom: -1rem;
  left: -.5rem;
}
.swiper {
  margin-inline: initial;
  overflow:  visible;
}
:is(.swiper-slide-active,  .swiper-slide-duplicate-active) .favorite__img {
  scale: 1;
  filter: var(--shadow-img);
}
:is(.swiper-slide-active,  .swiper-slide-duplicate-active) .favorite__leaf-1,
:is(.swiper-slide-active,  .swiper-slide-duplicate-active) .favorite__leaf-2 {
  scale: 1;
}