.home__container {
  justify-content: center;
  row-gap: 4rem;
}
.home__data {
  position: relative;
  text-align: center;
}
.home__title {
  margin-bottom: 1.5rem;
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  line-height: 100%;
  text-shadow: var(--shadow-text);
}
.home__meat {
  width: 40px;
  position: absolute;
  top: 6rem;
  right: 3rem;
  opacity: .5;
}
.home__description {
  margin-bottom: 2.5rem;
}
.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.home__images {
  position: relative;
  display: grid;
  place-items: center;
  justify-self: center;
  margin: 1rem 0 4rem 0;
}
.home__circle {
  width: 320px;
  height: 320px;
  background-color: var(--first-color-darken);
  box-shadow: inset var(--shadow-circle);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.home__subcircle {
  width: 250px;
  height: 250px;
  background-color: var(--second-color);
  border-radius: 50%;
  box-shadow: inset var(--shadow-circle);
}
.home__images .home__img {
  width: 250px;
  rotate: 10deg;
  filter: var(--shadow-img);
  position: absolute;
}
.home__images img {
  width: 60px;
  filter: var(--shadow-img);
  position: absolute;
}
.home__chips-1 {
  right: -.5rem;
}
.home__chips-2 {
  bottom: -.75rem;
  right: .5rem;
}
.home__chips-3 {
  top: .25rem;
  left: -.5rem;
}
.home__tomato-1 {
  top: -1.5rem;
  right: 2.5rem;
}
.home__tomato-2 {
  left: 3.5rem;
  bottom: -1.5rem;
}
.home__leaf-3 {
  left: -.75rem;
}
@media screen and (max-width: 340px){
  .home__title {
    font-size: 3rem;
  }
  .home__buttons {
    flex-direction: column;
    row-gap: 1rem;
  }
  .home__circle {
    width: 250px;
    height: 250px;
  }
  .home__subcircle {
    width: 200px;
    height: 200px;
  }
  .home__images .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 540px){
  .home__container {
    grid-template-columns: 370px;
    justify-content: center;
  }
  .home__meat {
    right: 1rem;
  }
}
@media screen and (min-width: 1150px){
  .home__container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 4rem;
  }
  .home__meat {
    width: 80px;
    top: 13rem;
    right: 9rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__title {
    margin-bottom: 1.5rem;
  }
  .home__description {
    margin-bottom: 4rem;
  }
  .home__buttons {
    justify-content: initial;
    column-gap: 1.5rem;
  }
  .home__circle {
    width: 500px;
    height: 500px;
  }
  .home__subcircle {
    width: 400px;
    height: 400px;
  }
  .home__images .home__img {
    width: 400px;
  }
  .home__images img {
    width: 100px;
  }
}